.jumbotron {
    background-image: url(../images/railroad-tracks-163518__340.jpg); 
    color: rgb(225, 250, 202);
    background-position: bottom;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-size: 14px;
}

.card-header {
    background-image: linear-gradient( to right, #b3fd88, rgb(241, 255, 228));
    font-size: 1.25em;
    font-weight: 700;
    color: darkgreen;
}
